## Folder
admin/
build/
dist/
public/
video/
img/
fonts/
node_modules/

## System files
.vscode
.cache
.git
.svn
.hg
.js.map
.idea

## Config files
.stylelintrc.json
.prettierrc.json
webpack.config.js
package-lock.json
